/*========== ginral ==========*/
ul{
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
.un-style{
    list-style-type: none;
}
.head-title h2{
    font-weight: 700;
    color: #212529;
    margin-bottom: 20px;
    font-size: 1.75rem;
}
.pd-y{
    padding: 20px 0;
}
/*========== ginral ==========*/
.up-head{
    padding: 5px 0;
    background-color: #3167eb;
}
.right-list{
    padding-left: 0;
}
.up-head ul{
    margin-bottom: 0;
}
.up-head ul a{
    margin: 0 7px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
}
.up-head ul a.dropdown-item, .up-head ul a.dropdown-item:hover {
    color: #000;
}
.up-head ul li a:hover{
    color: #fff;
}
@media (max-width: 766px){
    ul.right-list{
        display: none !important;
    }
    ul.lift-list{
        justify-content: center !important;
    }
}
.middle-head{
    padding: 20px 0;
}
.searsh input{
    width: 100%;
    padding: 6px 15px;
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.searsh button{
    position: absolute;
    display: block;
    top: 0;
    right: 15px;
}
.cart-icon i, .sign i{
    margin-right: 15px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
    border: #ced4da 1px solid;
    border-radius: 50%;
    position: relative;
    color: #969696;
    align-items: center;
    justify-content: center;
    transition: color .5s;
}
.cart-icon i:hover, .sign i:hover{
    color: #3167eb;
}
.cart-icon i::after{
    font-size: 14px;
    content: "0";
    position: absolute;
    top: 0;
    right: -8px;
    background-color: red;
    color: #fff;
    padding: 0 6px;
    border-radius: 6px;
}
.sign-in span{
    color: #969696;
    text-transform: capitalize;
}
.reg{
    margin-top: -6px;
}
.sign-in .wel a{
    color: #343a40;
    text-transform: capitalize;
    transition: color .5s;
}
.sign-in .wel a:hover{
    color: #3167eb;
}
@media (max-width: 780px){
    .sign-in{
        justify-content: flex-start !important;
        margin: 10px 0;
    }
    .logo{
        margin-bottom: 10px;
    }
}
/*========== nav ===========*/
header nav{
    border-top: 1px #e4e4e4  solid;
    border-bottom: 1px #e4e4e4  solid;
}
.navbar .dropdown-toggle::after {
    display: none;
}
nav .nav-item a{
    color: #000 !important;
    font-weight: 500;
    text-transform: capitalize;
    transition: opacity .5s;
}
nav .nav-item a:hover{
    opacity: .6;
}
nav .nav-item .active{
    font-weight: 700;
    text-transform: capitalize;
}
nav .nav-item i{
    margin-right: 4px;
}
/*========== nav ===========*/

/*========== hero section ===========*/
section.hero .hero-img img{
    width: 100%;
    border-radius: 10px;
}
section.hero .up-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    background-color: #3167eb;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}
section.hero .up-btn.show{
    opacity: 1;
    z-index: 999;
}
/*========== hero section ===========*/

/*========== delivery section ===========*/
section.deli .delivery{
    border: #e4e4e4 1px solid;
    border-radius: 10px;
}
section.deli .deli-card{
    padding: 20px 0;
    padding-left: 20px;
}
section.deli .deli-card i{
    font-size: 2rem;
    color: #3167eb;
    margin-bottom: 15px;
}
section.deli .deli-card h5{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
}
/*========== delivery section ===========*/

/*========== Popular section ===========*/
section.popular .card-body .stars ul{
    margin: 0;
    padding-left: 0;
}
section.popular .card{
    margin-bottom: 10px;
}
section.popular .card:hover{
    cursor: pointer;
    box-shadow: 0 4px 15px rgb(153 153 153 / 30%);
    transition: .3s;
}
section.popular .card-body p.card-text{
    margin-bottom: 0;
}
section.popular .card-body p a{
    color: #212529;
}
section.popular .card-body p:hover a{
    color: blue;
}
section.popular .card-body .stars ul li i{
    margin-left: -4px;
    color: orange;
}
section.popular .card-body .stars ul li i.active{
    color: #ccc;
}
section.popular .card-body .stars span{
    color: #969696;
    margin-left: 10px;
}
section.popular .card-body .price{
    font-weight: 500;
}
section.popular button.btn-outline-primary{
    padding: 0 15px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

/*========== Popular section ===========*/

/*========== logos section ===========*/
section.logos{
    background-color: #f8f9fa;
}
section.logos .logo-box{
    background-color: #fff;
    padding: 5px 20px;
    border: #e4e4e4 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}
section.logos .box-img img{
    width: 100%;
}
section.logos .box-text p{
    padding-top: 5px;
    border-top: #e4e4e4 1px solid;
}
/*========== logos section ===========*/

/*========== app section ===========*/
section.our-app{
    padding: 30px 0;
}
/*========== app section ===========*/

/*========== footer section ===========*/
footer.footer-sec{
    padding: 35px 0 5px 0;
    background-color: #f8f9fa;
    border-top: #e4e4e4 1px solid;
}
footer.footer-sec .footer-top h5{
    text-transform: capitalize;
    font-size: 1.10rem;
    margin-bottom: 15px;
}
footer.footer-sec .footer-top ul{
    padding-left: 0;
    padding-bottom: 10px;
}
footer.footer-sec .footer-top ul li{
    margin-bottom: 5px;
    transition: color .3s;
}
footer.footer-sec .footer-top ul li a{
    color: #212529;
    text-transform: capitalize;
    transition: color .3s;
}
footer.footer-sec .footer-top ul li a:hover, 
footer.footer-sec .footer-top ul li:hover{
    color: #3167eb;
}
footer.footer-sec .footer-top ul li i{
    margin-right: 5px;
}
footer.footer-sec .footer-bottom{
    padding-top: 15px;
}
footer.footer-sec .footer-bottom .copy p{
    font-size: 16px;
    color: #969696;
}
footer.footer-sec .footer-bottom .info span{
    margin: 0 10px;
    color: #212529;
}
/*========== footer section ===========*/
